@font-face {
    font-family: norse-bold;
    src: url('./fonts/Norse-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#container {
    width: min(1200px, 100%);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}

#left {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;        
    max-width: 35vw;
    min-width: 35vw;
    height: 100%;
}

#logo {
    background-color: rgba(0, 0, 0, 0.3);    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    position: relative;
    top: 20vh;
}

#logo-img {
    width: 68px;
    height: auto;
}

#logo-text {
    font-family: 'norse-bold', sans-serif;
    color: white;
    font-size: 4rem;
}

#image-credit {
    color: white;
    position: relative;
    top: 80%;
    text-align: center;
    font-size: small;
}

#right {
    background-color: #f3f3f3;    
    padding: 5rem 0;
}

.px-3 {
    padding: 0 3rem;
}

.txt-big {
    font-size: large;
    font-weight: bold;
}

#sub-intro {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.form-title {
    margin: 1rem 0;
}

.form-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#form-content {
    background-color: white;
    padding: 1rem 3rem;
}

.form-control label {
    display: block;
    text-transform: uppercase;
}